
body{
	background-image:
	linear-gradient(60deg,
	#b16ec4,
	#5f97b9)
}



form {
	display: flex;
	justify-content: center;
}

input{
	outline: transparent;
	border: solid;
	border-radius: 18px;
	font-size: 25px;
	padding: 2px 10px;
	border: 3px solid #b16ec4;
	position: absolute;
}
::placeholder {
	font-size: 18px;
	color: transparent;
	transition: color 300ms ease-in;
}

input:hover::placeholder {
	font-family: cursive;
	color: #ff6781;
}
input:focus::placeholder {
	font-family: cursive;
	color: transparent;
}

.search-button{
	position: relative;
	padding: 0;
	background-color: transparent;
	border: none;
	transform: translateX(-140px);
	top: 9px;
	fill: #ffb8c6;
	transition: fill 200ms linear, transform 500ms ease-in-out;
}

.search-form:hover .search-button{
	transform: translateX(145px);
	fill: #ff6781;
}

input:not(:placeholder-shown) +.search-button{
	transform: translateX(145px);
}

.photo-card{
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 5px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;

}
.info{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.gallery{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}



.card-image{
	width: 340px;
	height: 240px;
	object-fit: cover;
}

b{
	font-size: 14px;
	font-weight: bold;
	font-family: cursive;
}

.photo-card{
	padding: 10px;
	background: linear-gradient(60deg,
				hsl(224, 85%, 66%),
				hsl(269, 85%, 66%),
				hsl(314, 85%, 66%),
				hsl(359, 85%, 66%),
				hsl(44, 85%, 66%),
				hsl(89, 85%, 66%),
				hsl(134, 85%, 66%),
				hsl(179, 85%, 66%));
		background-size: 300% 300%;
		background-position: 0 50%;
		border-radius: calc(2 * var(--border-width));
		animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}

.info-item:not(:last-child){
	margin-right: 20px;
}

.stats{
	font-size: 12;
	text-align: center;
}
b{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}

.hide {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
	display: none;
}

.load-more {
	border-radius: 5px;
	width: 130px;
	outline: transparent;
	border: 2px solid #b16ec4;
	background: linear-gradient(60deg,
				hsl(224, 85%, 66%),
				hsl(269, 85%, 66%),
				hsl(314, 85%, 66%),
				hsl(359, 85%, 66%),
				hsl(44, 85%, 66%),
				hsl(89, 85%, 66%),
				hsl(134, 85%, 66%),
				hsl(179, 85%, 66%));
		background-size: 300% 300%;
		background-position: 0 50%;
		border-radius: calc(2 * var(--border-width));
		animation: moveGradient 4s alternate infinite;
	font-size: 16px;
	color: white;
	font-family: cursive;
	border-style: outset;
}

.header {
	font-family: cursive;
	font-size: 6rem;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}

	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}
